In [10]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/a7/84/b63f11124f808b6f1e3389072bc36cc907929d7574e85f94bf8f18117fe4/mysql_connector_python-8.2.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.2.0-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
     ---------- --------------------------- 143.4/527.0 kB 4.2 MB/s eta 0:00:01
     -------------------------------------- 527.0/527.0 kB 8.2 MB/s eta 0:00:00
Downloading mysql_connector_python-8.2.0-cp311-cp311-win_amd64.whl (14.2 MB)
   ---------------------------------------- 0.0/14.2 MB ? eta -:--:--
   - -------------------------------------- 0.5/14.2 MB 15.5 MB/s eta 0:00:01
   --- ------------------------------------ 1.3/14.2 MB 16.9 MB/s eta 0:00:01
   ----- ---------------------------------- 2.1/14.2 MB 16.9 MB/s eta 0:00:01
   -------- ------------------------------- 3.0/14.2 MB 17.6 MB/s eta 0:00:01
   ---------- ----------------------------- 3.7/14.2 MB 17.1 MB/s eta 0:00:01
   ------------- -------------------------- 4.8/14.2 MB 17.9 MB/s eta 0:00:01
   ---------------- ----------------------- 5.8/14.2 MB 18.6 MB/s eta 0:00:01
   ------------------ --------------------- 6.7/14.2 MB 18.6 MB/s eta 0:00:01
   --------------------- ------------------ 7.7/14.2 MB 19.0 MB/s eta 0:00:01
   ----------------------- ---------------- 8.2/14.2 MB 18.1 MB/s eta 0:00:01
   ------------------------- -------------- 9.2/14.2 MB 19.0 MB/s eta 0:00:01
   --------------------------- ------------ 9.8/14.2 MB 17.9 MB/s eta 0:00:01
   ----------------------------- ---------- 10.5/14.2 MB 18.2 MB/s eta 0:00:01
   ------------------------------- -------- 11.0/14.2 MB 17.7 MB/s eta 0:00:01
   -------------------------------- ------- 11.5/14.2 MB 17.2 MB/s eta 0:00:01
   --------------------------------- ------ 11.9/14.2 MB 16.4 MB/s eta 0:00:01
   ---------------------------------- ----- 12.3/14.2 MB 15.6 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.2 MB 15.2 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.2 MB 14.6 MB/s eta 0:00:01
   -------------------------------------- - 13.7/14.2 MB 14.6 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.2 MB 14.2 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.2 MB 14.2 MB/s eta 0:00:01
   ---------------------------------------- 14.2/14.2 MB 13.1 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
pip install mysqlclient

Collecting mysqlclient
  Obtaining dependency information for mysqlclient from https://files.pythonhosted.org/packages/6d/48/571d99aa4634719c92d516c7bada1091ab85cebbd02fcf83f34b19f04c87/mysqlclient-2.2.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysqlclient-2.2.0-cp311-cp311-win_amd64.whl.metadata (4.5 kB)
Downloading mysqlclient-2.2.0-cp311-cp311-win_amd64.whl (199 kB)
   ---------------------------------------- 0.0/200.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/200.0 kB ? eta -:--:--
   ----- --------------------------------- 30.7/200.0 kB 445.2 kB/s eta 0:00:01
   --------------- ----------------------- 81.9/200.0 kB 770.8 kB/s eta 0:00:01
   ---------------------------------------- 200.0/200.0 kB 1.5 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
from sqlalchemy import create_engine,text

In [20]:
churro= 'mysql+mysqldb://admin:password@database-1.ciesmwidx3x0.eu-north-1.rds.amazonaws.com:3306'

In [21]:
engine= create_engine(churro)

In [14]:
#comprobamos si se ha creado la base de datos
import pandas as pd
pd.read_sql("SHOW DATABASES;",con=engine)

             Database
0  information_schema
1               mysql
2  performance_schema
3                 sys

In [22]:
churro= 'mysql+mysqldb://admin:password@database-1.ciesmwidx3x0.eu-north-1.rds.amazonaws.com:3306/mysql'

In [23]:
engine= create_engine(churro)

In [24]:
df= pd.DataFrame({
    'a':[1,2,3,4],
    'b':[3,4,5,6]
})

In [25]:
df.to_sql("test",con=engine,if_exists='append')

OperationalError: (MySQLdb.OperationalError) (1044, "Access denied for user 'admin'@'%' to database 'mysql'")
[SQL:
CREATE TABLE test (
	`index` BIGINT,
	a BIGINT,
	b BIGINT
)

]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [29]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/25/1f/7ae31759142999a8d06b3e250c1346c4abcdcada8fa884376775dc1de686/psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 435.7 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/1.2 MB 653.6 kB/s eta 0:00:02
   ---------- ----------------------------- 0.3/1.2 MB 2.1 MB/s eta 0:00:01
   --------------------- ------------------ 0.6/1.2 MB 3.2 MB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 3.4 MB/s eta 0:00:01
   ----------------------------------- ---- 1.0/1.2 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 3.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
from sqlalchemy import create_engine, text
churro = "postgresql://postgres:password@database-2.ciesmwidx3x0.eu-north-1.rds.amazonaws.com:5432/postgres"
engine = create_engine(churro)
df = pd.DataFrame({
    "a": [1,2,3],
    "b": [4,5,6]
})
df.to_sql("test", con=engine, if_exists="append")

3

In [31]:
pd.read_sql("select * from test",con=engine)

   index  a  b
0      0  1  4
1      1  2  5
2      2  3  6